[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
gunicorn = "*"

[packages]
staticpy = {editable = true,path = "./../staticpy"}

[requires]
python_version = "3.7"
