<!doctype html>
<html lang='en'>

<head>
  <meta charset="UTF-8">
  <title>{{ site_title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="{{site_url}}static/base.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{site_url}}static/favicon.ico">

  <!-- LaTeX Stylesheet -->
  {% raw %}
  <div style="display: none">
    $$
    \newcommand{abs}[1]{\left | #1 \right |}
    \newcommand{set}[1]{\left\{#1\right\}}
    \newcommand{vec}[1]{\boldsymbol{#1}}
    $$
  </div>
  {% endraw %}
</head>

<body>
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}

    <!-- MathJax -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    {% raw %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            TeX: { equationNumbers: { autoNumber: "AMS" } }
        });
    </script>
    {% endraw %}
</body>

</html>